@use "/home/cody/dotfiles/laptop/gentoo/eww/themes/forest/variables" as *;

* {
    all: unset;
}

// Left container

.bar {
    background: rgba($color: #000000, $alpha: 1.0);
        margin: 0 100px;
}

.hypr-logo {
    padding-left: 10px;
    padding-right: 10px;
}

.firefox-logo {
    padding-left: 0px;
    padding-right: 10px;
}

.workspaces {
    color: white;
}

.workspace-entry {
    border-bottom: 0.2em solid transparent;
    border: 0.15em solid white;
    border-radius: 100em;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

.occupied {
    color: white;
    // background-color: $accent-dark;
    border: 0.15em solid $accent-dark;
}

.current {
    // border-bottom: 0.2em solid white;
    color: $accent;
}

// Right container

.time {
    background-color: $accent-dark;
    border-radius: 100em;
    padding-left: 10px;
    padding-right: 10px;
}

.battery {
    padding-right: 5px;
}
