@use '../../themes/tokyo-night-night.scss' as tnn;

.hardware {
  background: tnn.$black;
  color: tnn.$yellow-bright;
  border: 2px solid tnn.$cyan;
  border-radius: 10em;
  padding: 2px 10px;
  margin-left: 5px;
  transition: 0.5s;
}

.cpu {
  padding-right: 5px;
}

.cpu-label {
  color: tnn.$green;
}

.ram-label {
  color: tnn.$blue;
}

.hardware-event:hover > * {
  border: 2px solid tnn.$magenta-bright;
}

.cpubar {
  color: tnn.$magenta;
  background: tnn.$white-bright;
  margin: 4px;
}

circular-progress {
  background: tnn.$white-bright;
}

// .hardware label {
//   //background: tnn.$green;
//   color: tnn.$green;
// }

// .dashboard {
//   .hardware {
//     font-size: 50px;
//     background: tnn.$black;
//     border: 2px solid tnn.$red;
//     border-radius: 10px;
//     padding: 0 30px;
//     margin: 10px;
//   }
// }
