@use '../../../themes/tokyo-night-night.scss' as tnn;

$margin-outer: 200px;
$margin-inner: 5px;

.dashboard {
  background: transparent;
  margin: $margin-outer $margin-outer (35px + $margin-outer) $margin-outer; // Flush with all edges at margin: 0px 0px 35px 0px
  padding: 10px;
  // border: 5px solid tnn.$green;

  * {
    border-radius: 20px;
  }

  .time,
  .weather {
    // border: 5px solid tnn.$green;
    border: $margin-inner solid tnn.$yellow;
    border-radius: 10px;
  }

  .weather {
    font-size: 50px;
    background: tnn.$black;
    // border: 2px solid tnn.$red;
    // border: 5px solid tnn.$green;
    border: $margin-inner solid tnn.$yellow;
    border-radius: 10px;
    margin: $margin-inner;
  }

  .weather-icon {
    font-size: 50px;
    padding: 0;
  }

  .hardware {
    font-size: 50px;
    // border: 2px solid tnn.$red;
    // border: 5px solid tnn.$green;
    border: $margin-inner solid tnn.$yellow;
    border-radius: 10px;
    margin: $margin-inner;
  }

  .spotify {
    background-size: 310px;
    background-repeat: no-repeat;
    margin: $margin-inner;
    // border: 5px solid tnn.$green;
    border: $margin-inner solid tnn.$yellow;
    border-radius: 10px;
  }
}
