@use '../../themes/tokyo-night-night.scss' as tnn;
@use './dashboard/dashboard.scss' as *;
@use '../../widgets/power/power.scss' as *;
@use '../../widgets/weather/weather.scss' as *;
@use '../../widgets/hyprland/hyprland.scss' as *;
@use '../../widgets/hardware/hardware.scss' as *;
@use '../../widgets/battery/battery.scss' as *;
@use '../../widgets/time/time.scss' as *;

* {
  all: unset;
}

// Main bar

.bar {
  font-size: 12px;
  background: transparent;
  font-family: Fira Code Nerd Font;
}

.left-container {
  margin-left: 5px;
}

.right-container {
  border-radius: 100em;
}

// Dashboard

// .dashboard {
// background: transparent;
// border-radius: 20px;
// }
