@use '/home/cody/dotfiles/laptop/gentoo/eww/themes/mountains.scss';
@use '/home/cody/dotfiles/laptop/gentoo/eww/themes/forest.scss';
@use '/home/cody/dotfiles/laptop/gentoo/eww/themes/space.scss';
@use '/home/cody/dotfiles/laptop/gentoo/eww/themes/space2.scss';
@use '/home/cody/dotfiles/laptop/gentoo/eww/themes/ocean.scss';

//
// Theme colors (Tokyonight-Night)
//

// Default colors
$background: #1a1b26;
$foreground: #c0caf5;

// Normal colors
$black: #15161e;
$red: #f7768e;
$green: #9ece6a;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #bb9af7;
$cyan: #7dcfff;
$white: #a9b1d6;

// Bright colors
$black-bright: #414868;
$red-bright: #f7768e;
$green-bright: #9ece6a;
$yellow-bright: #e0af68;
$blue-bright: #7aa2f7;
$magenta-bright: #bb9af7;
$cyan-bright: #7dcfff;
$white-bright: #c0caf5;

//
//
//

* {
  all: unset;
}

.bar {
  font-size: 12px;
  background: rgba($color: $black, $alpha: 1);
  font-family: Fira Code Nerd Font;
}

// Left container

.workspaces {
  color: $white-bright;
}

.workspaces > *:hover {
  border-bottom: 0.2em solid $magenta-bright;
}

.workspace-entry {
  color: $black-bright;
  border-radius: 100em;
  margin: 5px;
}

.workspace-entry:hover {
  border-bottom: 0.2em solid $magenta-bright;
}

.occupied {
  color: $white-bright;
}

.current {
  color: $red-bright;
}

// Center container

.center-container {
  color: $red-bright;
}

.center-container > *:hover {
  border-bottom: 0.2em solid $yellow-bright;
}

.hypr-logo {
  padding-left: 10px;
  padding-right: 5px;
}

// Right container

.right-container {
  border-radius: 100em;
}

.time,
.battery {
  margin: 10px;
}

.time {
  color: $blue-bright;
  padding-left: 10px;
}

.battery_remaining {
  color: $white-bright;
  padding-right: 10px;
}

.battery {
  color: $blue-bright;
}

.battery.charging {
  color: $green;
}
